{% extends 'blogsec/base_main.html' %}
{% block title %}
关于我_詹洪个人博客 - 人生苦短，我选Python
{% endblock %}

{% block content %}
<div class="pagebg ab"> </div>
<div class="container">
  <h1 class="t_nav"><span>像“草根”一样，紧贴着地面，低调的存在，冬去春来，枯荣无恙。</span><a href="/blogsec/index" class="n1">网站首页</a><a href="" class="n2">关于我</a></h1>
  <div class="news_infos">
    <ul>
      <p>1、倘若你想达成目标，便得在心中描绘出目标达成后的景象；那么，梦想必会成真。<br />
        <br />
        2、一个人追求的目标越高，他的才力就发展得越快，对社会就越有益。<br />
        <br />
        3、我不喜欢戴手表，因为时间是个沉甸甸的东西。<br />
        <br />
          4、没有一劳永逸的开始；也没有无法拯救的结束。人生中，你需要把握的是：该开始的，要义无反顾地开始；该结束的，就干净利落地结束。
        <br />
        <br />
        5、打开你的手机，收到我的祝福，忘掉所有烦恼，你会幸福每秒，对着镜子笑笑，从此开心到老，想想明天美好，相信自己最好。
　　</p>
      <br />
      <h2>About my blog</h2>
      &nbsp;
      <p>域 名：www.yangqq.com 创建于2011年01月12日&nbsp;</p>
      <br />
      <p>服务器：阿里云服务器&nbsp;&nbsp;<a href="https://promotion.aliyun.com/ntms/act/ambassador/sharetouser.html?userCode=8smrzoqa&amp;productCode=vm" target="_blank"><span style="color:#FF0000;"><strong>前往阿里云官网购买&gt;&gt;</strong></span></a></p>
      <br />
      <p>备案号：蜀ICP备11002373号-1</p>
      <br />
      <p>程 序：PHP 帝国CMS7.5</p>
    </ul>
  </div>
  <div class="sidebar">
    <div class="about">
      <p class="avatar"> <img src="/static/blogsec/images/123.jpg" alt=""> </p>
      <p class="abname">dancesmile | ZH</p>
      <p class="abposition">Web前端设计师、网页设计</p>
      <p class="abtext"> 人生苦短我选Python。 </p>
    </div>
    <div class="weixin">
      <h2 class="hometitle">微信关注</h2>
      <ul>
        <img src="/static/blogsec/images/wx.png">
      </ul>
    </div>
  </div>
</div>
{% endblock %}
