{% extends 'blogsec/base_main.html' %}

{% block title %}
留言_詹洪个人博客 - 人生苦短，我选Python
{% endblock %}

{% block content %}
<div class="pagebg ab"> </div>
<div class="container">
  <h1 class="t_nav"><span>你，我生命中一个重要的过客，我们之所以是过客，因为你未曾会为我停留。</span><a href="/blogsec/index" class="n1">网站首页</a><a href="" class="n2">留言</a></h1>
  <div class="news_infos">
    <ul>
      此处安装评论插件
    </ul>
  </div>
  <div class="sidebar">
    <div class="about">
      <p class="avatar"> <img src="/static/blogsec/images/123.jpg" alt=""> </p>
      <p class="abname">dancesmile | 杨青</p>
      <p class="abposition">Web前端设计师、网页设计</p>
      <p class="abtext">一个Python小白的成长史。</p>
    </div>
    <div class="weixin">
      <h2 class="hometitle">微信关注</h2>
      <ul>
        <img src="/static/blogsec/images/wx.png">
      </ul>
    </div>
  </div>
</div>
{% endblock %}